<div id="container" class="demo">
  <div class="ui vertical masthead aligned segment">
      <video id="live" autoplay muted></video>
      <canvas id="canvas"></canvas>
      <div id="checklist">
          <h2> Please stay still! </h2>
          <p><img src="assets/img/x-mark.png" id="user-check"> Sit down in front of the computer screen. </p>
          <p><img src="assets/img/x-mark.png" id="face-check"> Only one face in the camera.</p>
          <p><img src="assets/img/x-mark.png" id="distance-check"> At least 20 inches away from the screen.</p>
          <p><img src="assets/img/x-mark.png" id="light-check"> Properly lit setting.</p>
      </div>
    </div>
    <button id="go" class="control">Go!</button>
<!--    <video id="recorded" autoplay loop></video>-->
    <button id="record" class="control" disabled>Start Recording</button>
    <button id="play" class="control" disabled>Play</button>
    <button id="analyze" class="control" disabled>Analyze</button>
  </div>

<div class="testing">
  <video id="recorded-vid"></video>
  <div id="container2"></div>
</div>

<div class="ui modal">

  <div class="description">

    <div class="ui header">Enter your age and gender for more tailored results</div>
    <div class="ui text container">
      <form class = "ui form" method="get" action="data-viz.html">
          <div class="field">
              <!-- <label>Age</label> -->
              <input id= "Age" type="text" placeholder="Age" name = "age">
          </div>
          <div class="ui selection dropdown">
              <input type="hidden" name="dropdown">
              <i class="dropdown icon"></i>
              <div class="default text">Gender</div>
              <div class="menu">
                <div class="item" data-value="M" name = "Male">M</div>
                <div class="item" data-value="F" name = "Female">F</div>
              </div>
          </div>
          <div class="ui clearing segment">
            <h3 class="ui right floated header">
              <button id="view-the-results" style="display:none;"class="ui submit button" type="submit" name = "send" value = "submit">View Results</button>
              <i id="loading-icon" class="spinner loading icon"></i>
            </h3>
            <h3 class="ui left floated header">
              We're working on analyzing your video to extract your heart rate
            </h3>
          </div>
      </form>
    </div>

  <!-- <div class="header">
    We're working on analyzing your video to extract your heart rate
  </div> -->
  <!-- </div>
  <div class="ui clearing segment">
    <h3 class="ui right floated header">
      <i id="loading-icon" class="spinner loading icon"></i>
    </h3>
    <h3 class="ui left floated header">
      We're working on analyzing your video to extract your heart rate
    </h3>
  </div> -->

  <!-- <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div> -->
</div>


  <!-- <div class="ui grid">
    <div class="ten wide column">
    </div>
    <div class="six wide column">
    </div>
  </div> -->
<script type="text/javascript">
  $('.ui.dropdown')
    .dropdown()
  ;
</script>
  <script src="assets/js/video.js"></script>
