<div id="container">
  <div class="ui vertical masthead aligned segment">
      <video id="live" autoplay muted></video>
      <canvas id="canvas"></canvas>
      <div id="checklist">
          <h2> Please stay still! </h2>
          <p><span id="check-faces"><img src="assets/img/x-mark.png"></span> Only one face in the camera.</p>
          <p><span id="check-distance"><img src="assets/img/x-mark.png"></span> At least 20 inches away from the screen.</p>
      </div>
    </div>
    <button id="go">Go!</button>

    <br>
    You sit roughly <code></code> inches from the screen.
    <br>

  </div>
<!--</div>-->

<div class="ui grid">
  <div class="ten wide column">
    <div id="chartdiv"></div>
  </div>

  <script src="assets/js/checks.js"></script>

  <div class="six wide column">
    <div id="vid"></div>
  </div>
</div>