<div class="ui main text content">
     <a href="index.html">
     <img class="logo" src="assets/img/logo.png">
    </a>
  </div>


  <div class="ui borderless main menu">
    <div class="ui text container">
      <a href="about.html" class="item ui right floated">About</a>
      <a href="contact.html" class="item ui right floated">Contact</a>
      <a href="news.html" class="item ui right floated">In the News</a>
      <a href="demo.html" class="item ui right floated demoButton">Demo</a>
    </div>
  </div>