


<!--
 Sidebar Menu 
<div class="ui vertical inverted sidebar menu">
  <a class="active item">ABOUT</a>
  <a class="item">NEWS</a>
  <a class="item">CONTACT</a>
  <a class="item">DEMO</a>
</div>
-->


<div class="ui container">
      <div class="ui large secondary inverted menu">
        
        <div id="icon-banner">
        <a href="index.html">
         <i class="heartbeat icon big"></i>
        </a>
        </div>
          <!-- placeholders -->
        <div class="right item"></div>
          <div class="right item"></div>
          <div class="right item"></div>
          <div class="right item"></div>
          <div class="right item"></div>
          <div class="right item"></div>
          <div class="right item"></div>
          <div class="right item"></div>
          
          
        <a href="about.html" class="right item">ABOUT</a>
<!--        <a href="news.html" class="right item">NEWS</a>-->
        <a href="contact.html" class="right item">CONTACT</a>
        <div class="right item">
          <a href="demo.html" class="ui small button">DEMO</a>
        </div>
      </div>
</div>
