


<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">ABOUT</a>
  <a class="item">NEWS</a>
  <a class="item">CONTACT</a>
  <a class="item">DEMO</a>
</div>


<div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a href="index.html">
         <img class="item nav-img" src="assets/img/logo-cut.png">
        </a>
        <a href="about.html" class="active right item">ABOUT</a>
        <a href="news.html" class="right item">NEWS</a>
        <a href="contact.html" class="right item">CONTACT</a>
        <div class="right item">
          <a href="demo.html" class="ui inverted button">DEMO</a>
        </div>
      </div>
</div>
