<!--
<!DOCTYPE html>
<html>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Heart Rate Analytics | Carnegie Mellon University</title>
    <link rel="stylesheet" type = "text/css" href="assets/css/semantic.min.css">
    <link rel="stylesheet" type = "text/css" href="assets/css/intro.css">
    <link rel="shortcut icon" href="assets/img/browserimg.ico"/>
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
<head>
</head>
<body>
-->

<div class="container">
<!-- PAGE ONE  -->
  <!-- text  -->
  <button type="button" onclick="endIntro();" class="skip-intro-button">Skip Intro</button>
  <div class="fade-in-welcome">
    Welcome!
  </div>
  <div class="fade-in-text page-one"> 
    <span class="intro-word">We </span><span class="intro-word">are  </span><span class="intro-word">the </span><span class="intro-word sei-text">Software </span><span class="intro-word sei-text">Engineering </span><span class="intro-word sei-text">Institute.</span>
  </div>

  <!-- arrow  -->
  <div class="arrow-right">
    <img src="assets/img/arrow-right.png">
  </div>

  <button type="button" onclick = "seeDemoButtonClicked();" class="see-demo-button">See Demo!</button>

  <div class="fade-in-text page-two"> 
    <span class="intro2-word-part1">We </span><span class="intro2-word-part1">have  </span><span class="intro2-word-part1">developed </span><span class="intro2-word-part1">an </span><span class="intro2-word-part1">innovative </span><span class="intro2-word-part1">software </span><span class="intro2-word-part1">that </span><span class="intro2-word-part1">detects </span><br><span class="intro2-word-part1 heartbeat-text">your </span><span class="intro2-word-part1 heartbeat-text">heartbeat </span><br><br>
    <span class="intro2-word-part2">just </span><span class="intro2-word-part2">by </span><span class="intro2-word-part2">looking </span><span class="intro2-word-part2">at </span><span class="intro2-word-part2">you.</span>
    <div>
      <img id="heartbeat-line" src="assets/img/heartbeatline.png">
    </div>
  </div>
  <!-- arrow  -->
  <div class="arrow-left">
    <img src="assets/img/arrow-left.png">
  </div>

  <button type="button" onclick = "continueFirstButton();" class="continue-first-button">Continue</button>

  <div class="fade-in-text page-three"> 
    <span class="intro3-word">Our </span><span class="intro3-word">research </span><span class="intro3-word">analyzes </span><span class="intro3-word">the </span><span class="intro3-word">frequency </span><span class="intro3-word">of </span><span class="intro3-word">light </span><span class="intro3-word">that </span><span class="intro3-word">bounces </span><span class="intro3-word">off </span><span class="intro3-word">of </span><span class="intro3-word">your </span><span class="intro3-word">face </span><br><span class="intro3-word intro3-face"><img src="assets/img/intro3-face.jpg"></span><br><span class="intro3-word">to </span><span class="intro3-word">capture </span><span class="intro3-word">your </span><span class="intro3-word">heartbeat... </span>
  </div>

  <!-- arrow  -->
  <div class="arrow-right-two">
    <img src="assets/img/arrow-right.png">
  </div>

  <button type="button" id="intro-end" onclick="endIntro();">Ready?</button>

</div>

<!--
</body>
    <script type="text/javascript" src="assets/js/semantic_library/semantic.min.js"></script>
    <script type="text/javascript" src="assets/js/semantic_library/visibility.js"></script>
    <script type="text/javascript" src="assets/js/semantic_library/transition.js"></script>
    <script type="text/javascript" src="assets/js/intro.js"></script>

</html>-->
