
.fade-in-welcome {
    font-size: 70px;
    margin-top: 100px;
    margin-left: 60px;
}

.fade-in-right-teamintro {
    margin-left: 120px;
    margin-top: 140px;
    font-size: 35px;
}

.intro-word.sei-text {
    color: navy;
}