
.arrow-left img {
    height: 180px;
    margin-top: 40px;
    margin-left: 450px;
}

.arrow-right img {
    height: 200px;
    margin-top: 40px;
    margin-left: 500px;
}

.arrow-right-two img {
    height: 200px;
    margin-top: 40px;
    margin-left: 500px;
}

.container {
    max-width: 90%;
    max-height: 90%;
}

.continue-first-button {
    margin-left: 350px;
}

.fade-in-welcome {
    font-size: 70px;
    margin-top: 100px;
    margin-left: 60px;
}

.fade-in-text {
    margin-left: 120px;
    margin-top: 120px;
    font-size: 35px;
    line-height: 140%;
}

.go-to-demo-button {
    margin-left: 780px;
}

#heartbeat-line {
    height: 100px;
    margin-top: 40px;
    margin-left: -1550px;
    position: absolute;
}

.heartbeat-text {
    color: grey;
}

.intro-word.sei-text {
    color: navy;
}

.intro3-face img{
    height: 100px;
}

.see-demo-button {
    margin-left: 780px;
}

.skip-intro-button {
    position: absolute;
    margin-left: 90%;
    margin-top: 20px;
    top:0px;
}