div#container.demo {
    background-color: #9A5A59;
    z-index: -3;
    overflow:hidden;
}

video#background-video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: -2;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

div#background {
  position: fixed;
  top: 50%; left: 50%;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  background-color: #16294B; /*376369*/
  opacity: 0.65;
  filter: alpha(opacity=65); /* For IE8 and earlier */
}

body {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    color: whitesmoke;
    font-weight: 200 !important;
    background-color: #EDEDED;
}

#header {
    z-index: -1 !important;
    background-color: #667289; /*376369*/
}

i.big.icon {
    color: #667289;
    margin-top: 12px;
    margin-left: 7.5px;
    font-size: 3em;
}

#icon-banner {
    background-color: white !important;
    width: 70px;
    height: 70px;
    margin-top: -15px;
    margin-left: -25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.ui.huge.inverted.grey.button {
    border: 0px solid whitesmoke !important;
    border-radius: 0px !important;
    background-color: whitesmoke !important;
    color: #667289;
}

.ui.huge.inverted.grey.button:hover {
    border-radius: 0px !important;
    background-color: rgba(245,245,245,0.8) !important;
    color: #667289;
    border: 0px solid whitesmoke !important;
    -webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}

.ui.small.button {
     border-radius: 0px !important;
    border: 1px solid whitesmoke !important;
     background-color: transparent !important;
    color: whitesmoke;
    font-weight: 300;
}

.ui.small.button:hover {
     border-radius: 0px !important;
     border: 1px solid whitesmoke !important;
     background-color: rgba(245,245,245,0.9) !important;
     color: #667289;
    -webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}


#footer {
<<<<<<< HEAD
    margin-top: 1em;
    background-color: #9A5A59 !important;
    margin-bottom: 1em;
    text-align: center;
=======
    background-color: #667289 !important;
>>>>>>> master
}  

.hidden.menu {
      display: none;
    }

    .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0em;
    }
    .masthead h1.ui.header {
      margin-top: 1.2em;
      margin-bottom: 0em;
      font-size: 6.2em;
      font-weight: 300;
        color: whitesmoke;
      margin-left: 0.95em;
transform:scale(1.2,1.1); /* W3C */
-webkit-transform:scale(1.2,1.1); /* Safari and Chrome */
-moz-transform:scale(1.2,1.1); /* Firefox */
-ms-transform:scale(1.2,1.1); /* IE 9 */
-o-transform:scale(1.2,1.1); /* Opera */
/* Rest Of CSS Code Here*/
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: 300;
    }

.nav-img {
    width: 23%;
}

.ui.secondary.inverted.menu .link.item, .ui.secondary.inverted.menu a.item {
    color: whitesmoke !important;
    font-weight: 300;
    font-size: 0.9em !important;
}

.ui.secondary.inverted.menu .link.item, .ui.secondary.inverted.menu a.item.active {
    color: whitesmoke !important;
}

.ui.secondary.inverted.menu .link.item, .ui.secondary.inverted.menu a.item:hover {
    color: whitesmoke !important;
/*    font-weight: bold;*/
    border-radius: 0px !important;
}


    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

.ui.text.container {
    max-width: 100% !important; 
}
.small-img {
    width: 30%;
}

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }