button#record{
    visibility: hidden;
}

button#play{
    visibility: hidden;
}

button#analyze{
    visibility: hidden;
}

#canvas {
    background-color:#4E4E4E;
    opacity: 0.7;
}

#checklist{
    font-size: 16px;
    color: whitesmoke;
    display: inline-block;
    left: 50%;
    position: absolute;
}

#checklist img {
   height: 20px;
   margin-right: 10px;
}

.control-button {
    background-color: olivedrab
}

p.borderBelow {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

video {
    width: auto;
    overflow:hidden;
    display:block;
}

video, canvas {
/*    margin-left: 0px !important;*/
/*    margin-top: 30px;*/
    position: absolute;
    height: auto;
    width: auto;
    z-index: -2;
    left: 50%;
}


/*
video:last-of-type {
  margin: 0 0 20px 0;
}
*/

/*
video#recorded {
    margin-top: 500px;
    width:50%;
    height: 30%;
    height:inherit !important;
    position: relative;
}
*/

@media screen and (max-width: 500px) {
  button {
    font-size: 0.8em;
    width: calc(33% - 5px);
  }
}


@media screen and (max-width: 720px) {
  video {
    height: calc((50vw - 48px) * 3 / 4);
    margin: 0 10px 10px 0;
    width: calc(50vw - 48px);
  }

  video#liveVideo {
    margin: 0 10px 10px 0;
  }
}

.testing{
  position: relative;
}

#recorded-vid{
  position: absolute;
  width: 100%;
}

#container2{
  position: absolute;
  width: 100% !important;
  top: 350px;
}
