button#record{
    visibility: hidden;
}

button#play{
    visibility: hidden;
}

button#analyze{
    visibility: hidden;
}

button#back{
    visibility: hidden;
}

#canvas {
    background-color:#4E4E4E;
    opacity: 0.7;
}

#checklist{
    font-size: 2.3vh;
    color: whitesmoke;
    display: inline-block;
/*    left: 57%;*/
    position: absolute;
/*    top: 5%;*/
    text-align: justify;
    padding-top: 5%;
}

#checklist h2 {
    text-align: center;
    font-size: 4.5vh;
}

#checklist h4 {
    text-align: center;
    font-size: 2.1vh;
}


#checklist img {
   height: 20px;
   margin-right: 10px;
}

p.borderBelow {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

video {
    width: auto;
    overflow:hidden;
    display:block;
}

 #checklist {
    position: fixed;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
    transform: translate(-50%, -50%);
     -webkit-transform:translate(-50%, -50%); /* Safari and Chrome */
    -moz-transform: translate(-50%, -50%); /* Firefox*/
     
    margin-top: 2%;
}

video, canvas {
/*    margin-left: 0px !important;*/
/*    margin-top: 30px;*/
    height: auto;
    width: auto;
    z-index: -2;
    position: fixed;
      top: 50%;
      left: 50%;
    margin-top: 2%;
/*    left: 50%;*/
/*    margin-top: 1em;*/
    
     /*flip video image*/
    transform: translate(-50%, -50%) rotateY(180deg);
    -webkit-transform:translate(-50%, -50%) rotateY(180deg) ; /* Safari and Chrome */
    -moz-transform: translate(-50%, -50%) rotateY(180deg); /* Firefox */
    /*round corners*/
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px;
    border-radius: 10px; 
/*    overflow: hidden;*/
    border-color: white;
    border-width: 2px;
}


[data-tooltip] {
    border: 1px solid rgba(228,3,3,0.47);
    background-color: rgba(255, 255, 255, 0.8);
}

[data-tooltip]:after{
   border: 1px solid rgba(228,3,3,0.47);
}


.testing{
  position: relative;
}

#recorded-vid{
  position: absolute;
  width: 100%;
}

#container2{
  position: absolute;
  width: 100% !important;
  top: 350px;
}
