p.borderBelow {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}


video, canvas {
    margin-left: 0px !important;
    margin-top: 100px;
    position: absolute;
  }


video:last-of-type {
  margin: 0 0 20px 0;
}

video#recorded {
    margin-top: 300px;
    width:30%;
    height: 30%;
    height:inherit !important;
    position: relative;
}

@media screen and (max-width: 500px) {
  button {
    font-size: 0.8em;
    width: calc(33% - 5px);
  }
}


@media screen and (max-width: 720px) {
  video {
    height: calc((50vw - 48px) * 3 / 4);
    margin: 0 10px 10px 0;
    width: calc(50vw - 48px);
  }

  video#liveVideo {
    margin: 0 10px 10px 0;
  }
}
